@model EntityASP.Entity.Person

@{
    ViewBag.Title = "Informations détaillées d'un personnel";
}


<div class="d-flex flex-column">
    <div>
        @Html.ActionLink("Retour à la liste", "Index", "People", new { @class = "btn btn-secondary text-secondary" })
        @Html.ActionLink("Editer", "Edit",  "People", new { id = Model.Id }, new { @class = "btn btn-primary text-primary" })
    </div>

    <div class="d-flex mt-3">
        <div>
            <p>
                <strong>@Html.DisplayNameFor(model => model.LastName)</strong>
                @Html.DisplayFor(model => model.LastName)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.FirstName)</strong>
                @Html.DisplayFor(model => model.FirstName)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.BirthDate)</strong>
                @Html.DisplayFor(model => model.BirthDate)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.Address)</strong>
                @Html.DisplayFor(model => model.Address)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.Mail)</strong>
                @Html.DisplayFor(model => model.Mail)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.TelephoneNumber)</strong>
                @Html.DisplayFor(model => model.TelephoneNumber)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.Role.Name)</strong>
                @Html.DisplayFor(model => model.Role.Name)
            </p>
        </div>
    </div>
</div>