@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{@* user is admin*@
<h1>Bonjour Admin!</h1>

<h3>
    @* une erreur pour cette action???*@
    @Html.ActionLink("Consulter les commandes", "Index", "Orders")

    @* quelle controller pour cette action??*@
    @*@Html.ActionLink("Consulter le stock", "Index", "Products")*@

    @Html.ActionLink("Ajouter d'un produit au stock", "Create", "Products")
    @Html.ActionLink("Créer un nouveau vendeur", "Register", "Account")

    @* Je ne sais pas quelle controller pour cette action*@
    @*@Html.ActionLink("Valider d'ajout de stock", "Create", "Products")*@
</h3>
}
else
{ @* user is seller*@
<h1>Bonjour <strong>@ViewBag.Name</strong>!</h1>

<h3>
    @Html.ActionLink("Consulter les commandes", "Index", "Orders")

    @*@Html.ActionLink("Consulter le stock", "Index", "Products")*@

    @Html.ActionLink("Ajouter d'un produit au stock", "Create", "Products")
</h3>
}








