@model ASP.Net_SellIt.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Changer le mot de passe";
}



@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    
    @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="input-group">
            <div class="input-group-prepend">
                @Html.LabelFor(m => m.OldPassword, new { @class = "input-group-text" })
            </div>
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>

        <div class="input-group mt-3">
            <div class="input-group-prepend">
                @Html.LabelFor(m => m.NewPassword, new { @class = "input-group-text" })
            </div>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>

        <div class="input-group mt-3">
            <div class="input-group-prepend">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "input-group-text" })
            </div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
   
    
        <div class="mt-3">
            <input type="submit" class="btn btn-primary" value="Modifier le mot de passe" />
        </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}