@model EntityASP.Entity.TVA

@{
    ViewBag.Title = "Création des taux TVA";
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <div>
            @Html.ActionLink("Retour à la liste", "Index", "TVAs", null, htmlAttributes: new { @class = "btn btn-secondary text-secondary" })
            <input type="submit" value="Créér" class="btn btn-primary text-primary" />
        </div>

        <div class="input-group mt-3">
            <div class="input-group-prepend">
                @Html.LabelFor(m => m.EndDate, new { @class = "input-group-text" })
            </div>
            @Html.EditorFor(m => m.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
        <div class="input-group mt-3">
            <div class="input-group-prepend">
                @Html.LabelFor(m => m.Rate, new { @class = "input-group-text" })
            </div>
            @Html.EditorFor(m => m.Rate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
        </div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
