@model EntityASP.Entity.TVA

@{
    ViewBag.Title = "Details";
}

<div class="d-flex flex-column">
    <div>
        @Html.ActionLink("Retour à la liste", "Index", new { }, new { @class = "btn btn-secondary text-secondary" })
        @Html.ActionLink("Editer", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary text-primary" })
    </div>

    <div class="d-flex mt-3">
        <div>
            <p>
                <strong>@Html.DisplayNameFor(model => model.Rate)</strong>
                @Html.DisplayFor(model => model.Rate)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.EndDate)</strong>
                @Html.DisplayFor(model => model.EndDate)
            </p>
        </div>
    </div>
</div>
