@model EntityASP.Entity.Product

@{
    ViewBag.Title = "Supprimer produit";
    String route = Model.ToValid ? "ListProducts/Stock" : "ListProducts/NoValid";
}
 
<div class="d-flex flex-column">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ActionLink("Retour à la liste", route, new { }, new { @class = "btn btn-secondary text-secondary" })
        <input type="submit" value="Suppression" class="btn btn-primary text-primary" />
    }

    <div class="d-flex mt-3">
        <div>
            <p>
                <strong>@Html.DisplayNameFor(model => model.Name)</strong>
                @Html.DisplayFor(model => model.Name)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.ProductType)</strong>
                @Html.ActionLink(Model.ProductType.Name, "Details", new { controller = "ProductTypes", id = Model.ProductType.Id })
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.Size)</strong>
                @Html.DisplayFor(model => model.Size)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.Weight)</strong>
                @Html.DisplayFor(model => model.Weight)
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.Color)</strong>
                @Html.DisplayFor(model => model.Color)
            </p>

            @{
                if (Model.ToValid)
                {
                    <p>
                        <strong>@Html.DisplayNameFor(model => model.Quantity)</strong>
                        @Html.DisplayFor(model => model.Quantity)
                    </p>
                }
            }

            <p>
                <strong>@Html.DisplayNameFor(model => model.ToValid)</strong>
                @{
                    if (Model.ToValid)
                    {
                        <span>Oui</span>
                    }
                    else
                    {
                        <span>Non</span>
                    }
                }
            </p>
        </div>
    </div>
</div>
