@model EntityASP.Entity.Product

@{
    ViewBag.Title = "Détail d'un produit";
    String route = Model.ToValid ? "ListProducts/Stock" : "ListProducts/NoValid";
}

<div class="d-flex flex-column">
    <div>
        @Html.ActionLink("Retour à la liste", route, new { }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Editer", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })

    </div>
        
    <div class="d-flex mt-3">
        <div>
            <p>
                <!--<strong>@Html.DisplayNameFor(model => model.Name)</strong>-->
                <strong>Nom:</strong>
                @Html.DisplayFor(model => model.Name)
            </p>
            <p>
                <!--<strong>@Html.DisplayNameFor(model => model.ProductType)</strong>-->
                <strong>Type:</strong>

                @Html.ActionLink(Model.ProductType.Name, "Details", new { controller = "ProductTypes", id = Model.ProductType.Id })
            </p>
            <p>
                <!--<strong>@Html.DisplayNameFor(model => model.Size)</strong>-->
                <strong>Taille:</strong>
                @Html.DisplayFor(model => model.Size)
            </p>
            <p>
                <!--<strong>@Html.DisplayNameFor(model => model.Weight)</strong>-->
                <strong>Masse:</strong>
                @Html.DisplayFor(model => model.Weight)
            </p>
            <p>
                <!--<strong>@Html.DisplayNameFor(model => model.Color)</strong>-->
                <strong>Couleur:</strong>
                @Html.DisplayFor(model => model.Color)
            </p>

            @{
                if (Model.ToValid)
                {
                    <p>
                        <!--<strong>@Html.DisplayNameFor(model => model.Quantity)</strong>-->
                        <strong>Quantité:</strong>
                        @Html.DisplayFor(model => model.Quantity)
                    </p>
                }
            }

            <p>
                <!--<strong>@Html.DisplayNameFor(model => model.ToValid)</strong>-->
                <strong>Validé:</strong>
                @{
                    if (Model.ToValid)
                    {
                        <span>Oui</span>
                    }
                    else
                    {
                        <span>Non</span>
                    }
                }
            </p>
        </div>
        <div>

        </div>
    </div>
</div>
